@font-face {
font-family: "ES Klarheit Grotesk";
src: url("/fonts/ESKlarheitGrotesk-Book.otf") format("opentype");
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "ES Klarheit Grotesk";
src: url("/fonts/ESKlarheitGrotesk-Medium.otf") format("opentype");
font-weight: 500;
font-style: normal;
font-display: swap;
}

html,
body {
margin: 0;
padding: 0;
background: white;
color: black;
font-family: "ES Klarheit Grotesk", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
overflow-x: hidden;
}

a,
a:visited,
a:hover,
a:active {
color: inherit;
text-decoration: none;
}

.projectRibbonImg {
height: 500px !important;
display: block;
flex-shrink: 0;
}