body {
  background: white;
  color: black;
}
@font-face {
  font-family: "ES Klarheit Grotesk";
  src: url("/fonts/ESKlarheitGrotesk-Book.otf") format("otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* (optionnel) si tu as une variante medium */
@font-face {
  font-family: "ES Klarheit Grotesk";
  src: url("/fonts/ESKlarheitGrotesk-Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  background: white;
  color: black;
  font-family: "ES Klarheit Grotesk", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
a, a:visited, a:hover, a:active {
color: inherit;
text-decoration: none;
}
html,
body {
overflow-x: hidden;
}
.projectRibbonImg {
height: 500px !important;
display: block;
}